.topbar, .topbar * {
  box-sizing: border-box;
}

.topbar {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 1000;
  height: 36px;
  margin: 0;
  padding: 0;
  width: 100%;
  color: #fff;
  background: #154734;
}

.topbar.has-gradient {
  background: -moz-linear-gradient(top, #136d4b 1%, #154734 100%);
  background: -webkit-linear-gradient(top, #136d4b 1%, #154734 100%);
  background: linear-gradient(to bottom, #136d4b 1%, #154734 100%);
}

.topbar .wrapper {
  display: flex;
  margin: 0 10px;
  justify-content: center;
  align-items: center;
  flex-basis: 100%;
  /* If you change this here, also change it in BrandingBarCustomizer */
  max-width: 1170px;
}

.topbar .utd-wordmark {
  display: flex;
  align-items: center;
}

.topbar a,
.topbar a:visited,
.topbar .utd-wordmark a,
.topbar .utd-wordmark a:visited,
.topbar .utd-wordmark-only a,
.topbar .utd-wordmark-only a:visited,
.topbar .branding-bar-right a,
.topbar .branding-bar-right a:visited {
  display: flex;
  align-items: center;
  color: #fff;
  font-family: din-2014, sans-serif;
  font-weight: normal;
  text-decoration: none;
  border: none;
}

.topbar a:hover,
.topbar .utd-wordmark a:hover,
.topbar .utd-wordmark-only a:hover,
.topbar .branding-bar-right a:hover {
  color: #fff;
  text-decoration: underline;
  border: none;
}

.topbar .utd-wordmark a, .topbar .utd-wordmark-only a {
  font-size: 19px;
}

.topbar .utd-wordmark .utd-monogram-wordmark-svg {
  width: 300px;
  height: auto;
}

/* Only the wordmark is visible by default for mobile. */
.topbar .branding-bar-right {
  display:none;
}

.topbar .searchbox {
  display: inline-block;
  margin-left: 10px;
  margin-right: -10px;
  height: 36px;
}

.topbar .searchbox form {
  display: flex;
}

.topbar .searchbox .sr-only {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.topbar .searchbox form input {
  background:#27644d;
  border:none;
  border-radius: 0;
  color:#fff;
  font-size:15px;
  height:36px;
  padding: 2px 8px 5px 8px;
  width:150px;
  font-family:din-2014, sans-serif;
}

.topbar.has-gradient .searchbox form input {
  background: #154734;
}

.topbar .searchbox form input::placeholder {
  font-family:din-2014, sans-serif;
  color: #fffa;
}

.topbar .searchbox form input:focus::placeholder {
  color: #fff0;
}

.topbar .searchbox button {
  float: right;
  background-color: #e87500;
  width:36px;
  height:36px;
  border:8px solid #e87500;
  margin: 0;
  padding: 0;
  border-radius: 0;
  font-family:din-2014, sans-serif;
}

.topbar .branding-bar-right {
  text-align: right;
}

.topbar .branding-bar-right ul.link-set {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
}

.topbar .branding-bar-right li {
  display: flex;
  align-items: center;
  margin: 0 10px 0 0;
}

.topbar .branding-bar-right li:last-of-type {
  margin-right: 0;
}

.topbar .branding-bar-right a, .topbar .branding-bar-right a:visited {
  font-size: 15px;
  padding: 0;
  text-transform: uppercase;
  word-break: keep-all;
}

/* Only show links and search box on larger screens */
@media (min-width: 768px) {

  .topbar.has-right-side .wrapper {
    justify-content: space-between;
  }

  .topbar .branding-bar-right:not(.hide) {
    display: flex;
  }

}
